
body {
		    background-color: #48D1CC;
		    background: url("lib4.jpg") no-repeat center;
		    background-size: 100% 300%;
			color: white;
			font-family: 'Open Sans', Arial, Helvetica, sans-serif;
			font-size: 16px;
			line-height: 1.5em;
			height: 100%;
			text-align: center;
		}	
.login {
	padding-top: 18%;
}
.lbutton {
	padding-top: 0.5%;
	text-align: center;
}
.tb {
	margin-left: 43%;
	/*text-align: center;*/
}
input[type=submit] {
    width: 10em;  height: 3em;
}
a {
	color: white;
}